<div class="title">
    <h2>ログイン</h2>
</div>

<div>
    <div>
        <p>アカウントをお持ちではない方</p>
    </div>
    <div>
        <a href="/users/input/">新規会員登録</a>
    </div>
</div>

<div>
    <div>
        <p>アカウントをお持ちの方</p>
    </div>
    <div>
        <p><a href="">Twitterでログイン</a></p>
        <p><a href="">Facebookでログイン</a></p>
    </div>
    <div>
        <input type="text" name="account">
        <input type="text" name="password">
    </div>
</div>
