<div>
    <h2>新規会員登録</h2>
</div>
<form action="/users/register/" method="post">
    <div>
        <div>
            <p>ユーザー名</p>
            <input type="text" name="name">
        </div>
        <div>
            <p>メールアドレス</p>
            <input type="text" name="email">
        </div>
        <div>
            <p>パスワード</p>
            <input type="password" name="password">
        </div>
        <div>
            <p>パスワード確認用</p>
            <input type="password" name="confirmation_password">
        </div>
        <div>
            <button type="submit">新規登録する</button>
        </div>
    </div>
</form>

<p><a href="/">トップに戻る</a></p>
